@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
<h2 style="color:purple">@ViewData["Title"]</h2>


    <br />
    <br />
    <h3>Ihlamur sokak Menekşe Apt. No:5</h3>
    <h3>Bakırköy İSTANBUL</h3>
    <h3>E-Posta Adresimiz:</h3>
        <h3><a href="mailto:mete.erdem@kayapinar.av.tr">mete.erdem@kayapinar.av.tr</a></h3>

</div>
